h1{
	color:navy;
	
}
ul li b{
color: navy;
font-size:18px;}
body{
background-image: url(http://www.psdgraphics.com/file/blurry-lights.jpg);
text-align: justify;}
ul li{
font-size:18px;}
p{
font-size: 18px;
}